<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yachtsidegroup.com/upload4mail/yachtside/k/w/l/c/u/KWLcu_4.jpg);">
  <div class="container">
    <h1>Rent out your yacht, on your terms!</h1>
    <p>Make money when your not using your yacht, without the hastle with Yatchhub.</p>
  </div>
</div>
<div class="cards">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
    </div>
  </div>
</div>
