<h1>Create a New Review</h1>

<%= simple_form_for([@booking.listing, @review]) do |f| %>
  <%= f.input :comment, label: 'Comment' %>
  <%= f.input :rating, label: 'Rating' %>
  <%= f.submit 'Submit Review', class: 'btn btn-primary' %>
<% end %>
